
.top {
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	font-family: monospace;
}

.top * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 50px;
}

.top-text {
	background-color: var(--nice-blue);
	height: 80%;
	padding-left: 30px;
}

#hello {
	position: relative;
	padding-top: 25vh;
	color: var(--secondary-color);
}

#im {
	position: relative;
	color: var(--secondary-color);
}

#kozan {
	position: relative;
	font-family: Bogart, serif;
	color: var(--sub-color);
}

#software {
	position: relative;
	padding-bottom: 10vh;
	color: var(--sub-color);
	font-size: 30px;
}

.fade-up {
	opacity: 0;
	transform: translateY(55%);
	transition: opacity 1200ms ease-out, transform 700ms ease-out;
}

.fade-up.appear {
	opacity: 1;
	transform: translateY(0);
}

@media only screen and (min-width: 768px) {
	.top {
		height: 100vh;
	}
}